JWT_EXP=3600
#REFRESH_EXP=3600

DATABASE_URL="postgres://mybackend:password123@localhost/databasename"

POSTGRES_USER="mybackend"
POSTGRES_PASSWORD="password123"
POSTGRES_DOMAIN="postgres:5432"
POSTGRES_DB="databasename"