# --- rocket ---
ROCKET_PROFILE=release
ROCKET_SECRET_KEY=

# --- JWT ---
JWT_EXP=3600
REFRESH_EXP=604800  # 7 days in seconds

# --- postgres ---
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DOMAIN=localhost:5432
POSTGRES_DB=

# local postgres link
DATABASE_URL="postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}"

# used inside docker (overridden in docker-compose.yml)
# DATABASE_URL="postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}"

# --- redis ---
REDIS_PASSWORD=

# local redis link
REDIS_URL="redis://:${REDIS_PASSWORD}@localhost:6379"

# used inside docker (overridden in docker-compose.yml)
# REDIS_URL="redis://:${REDIS_PASSWORD}@redis:6379"